<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="sqlconn" value="Data Source=(localdb)\MSSQLLocalDB;database=TestDb;"/>
    <add key="numRuns" value="100" />
    <add key="maxRow" value="20000" />
  </appSettings>
</configuration>